body {
  margin: 0;
  font-weight: bold;
}
#top {
  position: relative;
  width: 1200px;
  height: 55px;
  margin: 0 auto;
  padding-top: 25px;
}
  #topRight {
    float: right;
    color: #666666;
    font-size: 14px;
  }
    #topRight span {
      margin-right: 5px;
      vertical-align: middle;
    }
anil-menu {
  display: block;
  text-align: center;
  border: 1px solid #555555;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
  anil-menu a {
    color: #333333;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 60px;
    text-decoration: none;
  }
anil-banners {
  text-align: center;
}
  anil-banners img {
    display: inline-block;
    position: relative;
    border-bottom-left-radius: 3rem;
  }
#links ul {
  list-style: none;
  vertical-align: middle;
  text-align: center;
}
  #links ul li {
    display: inline-block;
    margin: 50px;
    margin-right: 100px;
  }
    #links ul li button {
      width: 100px;
      height: 100px;
      margin-bottom: 25px;
      background: #5cc88b;
      border: none;
      border-radius: 30%;
    }
#geshis {
  text-align: center;
}
  #geshis div {
    width: 600px;
    display: inline-block;
    text-align: left;
    margin-right: 25px;
  }
    #geshis > div > #type {
      color: #1e6f41;
      font-size: 22px;
      border: 2px solid #1e6f41;
      border-right: none;
      border-left: none;
      border-top: none;
      display: block;
    }
    #geshis > div > ul {
      list-style: none;
      padding: 0;
    }
      #geshis > div > ul > li {
        margin-top: 10px;
        border: 1px dotted #000000;
        border-right: none;
        border-left: none;
        border-top: none;
        height: 30px;
      }
        #geshis > div > ul > li > .title {
          float: left;
        }
        #geshis > div > ul > li > .date {
          float: right;
        }